/* body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
btn{
    background-color: orange;
    color: rgb(209, 95, 95);
}


footer{
    flex-shrink: 0;
    margin-top: auto;
    background-color: black;
    color: white;
} */

/*CSS varaiables*/
:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --tile-colors: white;
  }
  
/**sticky footer with flexbox*/
html, body {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
  }

.grid{
    display: grid;

    max-width: 500px;
    height:500px;
    /* grid-gap: 1em; */
    /**Allows variables to be used*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: paleturquoise;
}

.grid-items{
    background-color: var(--tile-colors);
    border: 1px red solid;
    color: white;
    box-sizing: border-box;
    padding: 1px;
    /* max-width: 50px;
    height: 50px; */

    /*slow transition*/
    /* transition: 0.5s; */
}

.grid-items:hover{
    background-color: black;
}
.footer {
    flex-shrink: 0;
  }
  


