/* body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
btn{
    background-color: orange;
    color: rgb(209, 95, 95);
}


footer{
    flex-shrink: 0;
    margin-top: auto;
    background-color: black;
    color: white;
} */

/*CSS varaiables*/
:root {
  --grid-cols: 1;
  --grid-rows: 1;
  /* --white: white;
    --black: black;
    --red: red;
    --blue: blue; */
  --tile-color: white;
  --tile-color-hover: black;
  --gradient1: rgba(149, 43, 43, 1);
  --gradient2: rgba(196, 155, 127, 1);
  --gradient3: rgba(34, 12, 12, 1);
}

/**sticky footer with flexbox*/
html,
body {
  height: 99%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(149, 43, 43);
  background: radial-gradient(
    circle,
    rgba(149, 43, 43, 1) 0%,
    rgba(196, 155, 127, 1) 38%,
    rgba(34, 12, 12, 1) 100%
  );
  font-family: "Ubuntu", sans-serif;
  color: lightsalmon;
}

h1 {
  font-size: 5em;
  margin: auto;
  padding: 10px;
}
.content {
  /*Have the content flex*/
  flex: 1;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 1fr;

  grid-template-rows: 600px;
  /* padding-left: 300px;
  padding-right: 300px; */
  margin: 20px;
  margin-left:auto;
  margin-right:auto;
  /* width:; */
 
}
.btn {
  /* justify-items: center;
   */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: var(--gradient3);
  grid-column-start: 2;
}
.buttons {
  padding: 15px;
  margin: 8px;
  border: 2px var(--gradient1) solid;
  border-radius: 1.8em;
  background-color: var(--gradient3);
  color: lightsalmon;
  transition: 0.3s;
}

.buttons:hover {
  background-color: var(--gradient1);
  color: white;
  border: 2px var(--gradient3) solid;
}

/* .canvas-btn{
  grid-row-start: 1;
  grid-column-start: 1;
} */
/* .color-heading{
  grid-row-start: 3;
  grid-column-start: 1;
} */

.color-btn{
  display: grid;
  grid-template-columns: repeat(3, 0.25fr);
}
div .color-btn {
  grid-row-start: 4;
}

.grid-container {
  /* grid-row-start: 1;
  grid-column-start: 2; */
  grid-column-start: 3;
  box-sizing: border-box;
}
.grid {
  display: grid;
  width: 600px;
  height: 600px;
  /* grid-gap: 1em; */
  /**Allows variables to be used*/
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  background-color: white;

  border: 3px solid black;
}

.grid-items {
  background-color: var(--tile-color);
  /* border: 1px rgba(0, 0, 0, 1), solid; */
  color: white;
  box-sizing: border-box;
  padding: 1px;
  opacity: .1;
  border: 1px solid darkgray;
  /* background: rgba(255, 255, 255, .8);
  color: rgba(0, 0, 0, .8); */
}

.grid-items:hover {
  background-color: var(--tile-color-hover);
}

/* .slider{
  grid-row-start: 2;
  grid-column-start: 1;
} */

.footer {
  flex-shrink: 0;
}
