/*TODO:
resize images, center the text, go back home link button
*/
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(100, 149, 237);
}

body{
/*     
    background-image: url(images/kitchen.jpg);
    width: 100%;
    object-fit: fill;
    /* background-color: hsl(); */
} 
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    border-radius: 20px ;

}

.gif{
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

div{
    margin-left: 20px;
}

div .meals{
    display: flex;
}

#mealOne, #mealTwo{
    display: flex;
    justify-content: space-around;
}

.intro, .intro p{
    text-align: center;
    width: 650px;
    height: auto;
    margin: 30px auto 20px;
    border-radius: 35px;
}

.intro p{
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -5px;
}
.foodPic{
    border-radius: 50px ;
}

.instructions{
    /* background-color: white; */
   font-weight: 200;
   font-size: medium;
}

h3{
    margin: 10px;
    text-align: center;
}
.meals li{
    display: inline-block;
    padding: 35px;
    margin: 10px;
    border: 2px double darkblue;
    border-radius: 3%;
    width: 392px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;

}

.meals li:hover{
    background-color: lightblue;
    transform: scale(1.1);
}