body{
    display: flex;
    flex-direction: column;
}

html{
    background-color: green;
}

/*container section*/
.container-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: powderblue;
    padding: 20px;
    margin-bottom: 50px;
}