body{
    background-color: white;
    height: 100vh;

  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column; 
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */

}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-bottom: 20px;
}

.header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 100px;
}

.header ul a{
    text-decoration: none;
}

.header li{
    color: white;
}

.header header{

        font-size: 24px;
        font-weight: bolder;
        color: #F9FAF8;

}
/**push footer to bottom*/
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.introduction{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 75;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 125px;
}

.introduction .text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;

}

#img-intro{
    width: 350px;
    height: 200px;
}


.btn{
    background-color: #3882F6;
    color: white;
    padding: 1em;
    font-size: 1em;
    border-radius: 0.9em;
    padding: 10px 25px 10px 25px;
}

.introduction span{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.introduction p{
    width: 450px;;
    height: auto;
    font-size: 18px;
    color: #E5E7EB;
}
/*supplies section*/
.supplies{
    margin-bottom: 200px;
}
.supplies #supplies{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: -10px;
    padding: 10px;

}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-text{
    width: 200px;
    height: 200px;

    text-align: center;
    border: 3px #3882F6 solid;
    margin-top: 50px;
    border-radius: 1em;
    overflow: hidden; /*fix the image to fit inside*/
 /* object-fit: scale-down; */
 flex-shrink: 0;
}

.content-img{
    width: 100%;    
   height: 100%;
}

.content-img:hover{
    opacity: 0.2;
}

.content-container .text{
    display: none;
}


/*review section*/
.reviews{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 300px;

}

.reviews .rev, #quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
/* #quote{
 
} */

.rev{
    border: 2px black solid;
}
/* .content-container .text:hover{
    z-index: 9;
    margin: 30px;
    background: #009938;
} */

/*call action*/
.call-action{
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex:1;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 0.9em;
    
}

.call-paras{
    display: flex;
    flex-direction: column;
}

.callText-2, .callText-1{
    font-size: 18px;
    color: #E5E7EB;
}

.callText-1{
    font-size: 24px;
    color: #E5E7EB;
}

/*button not jiggling when clicked*/
.call-action .btn{
    border: 2px solid white;
}


/*footer*/
footer{
    background-color: #1F2937;
    color: white;
    padding: 30px;
    text-align: center;
    /* content:"\00a9 me"; */
}
