body{
    background-color: white;
    height: 100vh;

  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column; 
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */

}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}

.header ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header ul a{
    text-decoration: none;
}

/**push footer to bottom*/
.container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.introduction{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 75;
    margin: 0;
    padding-bottom: 75px;
}

.introduction .text{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;

    font-size: 18px;
    color: #E5E7EB;
}
.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 50px;
}

.reviews{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.img-text{
    border: 1px solid white;
    border: 2px double #1F2937;
}

.call-action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.call-action button{
    display: inline-block;
}

#img-intro{
    width: 450px;
}

.introduction p{
    width: 450px;;
    height: auto;
}

.btn{
    background-color: #3882F6;
    color: white;
    padding: 1em;
    font-size: 1em;
    border-radius: 0.9em;
    padding: 10px 25px 10px 25px;
}


.content-img{
    max-width: 100%;
    max-height: 100%;
 
}
.img-text {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;

    text-align: center;
    border: 1px #3882F6 solid;
    margin-top: 50px;
    border-radius: 1em;
    overflow: hidden; /*fix the image to fit inside*/
    /* object-fit: scale-down;*/
} 

.img-text p{
    display: none;
}
